AOOSCOPE_TAG=latest
AOOSCOPE_CONTAINER_NAME=aooscope
AOOSCOPE_BIND_ADDRESS=127.0.0.1
AOOSCOPE_WEB_PORT=8765
AOOSCOPE_DEVICE=/dev/ttyACM0
AOOSCOPE_CONFIG_DIR=./data
AOOSCOPE_REFRESH_SECONDS=5
AOOSCOPE_SYSINFO_SECONDS=5
AOOSCOPE_BRAND=AOOSCOPE
AOOSCOPE_SPLASH_IMAGE=
AOOSCOPE_SWITCH_SECONDS=8
AOOSCOPE_BRIGHTNESS=100
PVE_TOKEN_FILE=
PVE_CA_FILE=
